{% extends 'base.html.twig' %}

{% block body %}
    <h1>Retardos list</h1>

    <table>
        <thead>
            <tr>
                <th>Idretardos</th>
                <th>Horallega</th>
                <th>Idrecasema</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for retardo in retardos %}
            <tr>
                <td><a href="{{ path('retardos_show', { 'id': retardo.idretardos }) }}">{{ retardo.idretardos }}</a></td>
                <td>{% if retardo.horaLlega %}{{ retardo.horaLlega|date('H:i:s') }}{% endif %}</td>
                <td>{{ retardo.idrecaSema }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('retardos_show', { 'id': retardo.idretardos }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('retardos_edit', { 'id': retardo.idretardos }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('retardos_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
