{% extends 'base.html.twig' %}

{% block body %}
    <h1>Juntas</h1>

    <table>
        <thead>
            <tr>
                <th>Hora de Llegada</th>
                 <th>Usuario</th>
                  <th>Horario</th>
                   <th>Multas</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for retardo in retardos %}
            <tr>
                <td><a href="{{ path('retardos_show', { 'id': retardo.idretardos }) }}">{{ retardo.idretardos }}</a></td>
                <td>{% if retardo.horaLlega %}{{ retardo.horaLlega|date('H:i:s') }}{% endif %}</td>
                <td>{{retardo.idusuario.usuario }}</td>
                <td>{{retardo.idhorario.dia }}</td>
                <td>{{retardo.idesta.descComp }}</td>
                <td>{{retardo.idtari.tarifa }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('retardos_show', { 'id': retardo.idretardos }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('retardos_edit', { 'id': retardo.idretardos }) }}">edit</a>
                        </li>
                     <a href="{{ path('retardos_delete', { 'id': retardo.idretardos }) }}" onclick="return confirm('¿Desea eliminar este elemento?')">Eliminar</a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('retardos_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
