{% extends 'base.html.twig' %}

{% block body %}
  <h1 class="text-info"> Nuevo junta</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Guardar" />
    {{ form_end(form) }}

<div>{{ form_label(form.idusuario) }} {{ form_widget(form.idusuario) }}
	{{ form_widget(form.agregar) }}</div>
<div>{{ form_label(form.idhorario) }} {{ form_widget(form.idhorario) }}
</div>
<div>{{ form_label(form.idtari) }} {{ form_widget(form.idtari) }}</div>
<div>{{ form_label(form.idesta) }} {{ form_widget(form.idesta) }}</div>
<input type="submit" value="Create" />
{{ form_end(form) }}
    <ul>
        <label class="checkbox-inline">
          <a href="{{ path('retardos_index') }}">
       <label><button type="button" class="btn btn-primary btn-xs">Regresar</button></a></label>
    </ul>
    {% endblock %}
