{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tarifas list</h1>

    <table>
        <thead>
            <tr>
                
                <th>Tarifa</th>
                <th>Tipo de Tarifa</th>
                <th>Estatus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarifa in tarifas %}
            <tr>
                <td><a href="{{ path('tarifas_show', { 'id': tarifa.idtari }) }}">{{ tarifa.idtari }}</a></td>
                <td>{{ tarifa.tarifa }}</td>  
                 <td>{{ tarifa.idtipotari.descComp}}</td>
                 <td>{{ tarifa.idesta.descComp}}</td>  
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tarifas_show', { 'id': tarifa.idtari }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tarifas_edit', { 'id': tarifa.idtari }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tarifas_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
