{% extends 'base.html.twig' %}

{% block body %}
    <h1>Roles</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estatus</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td><a href="{{ path('roles_show', { 'id': role.idroles }) }}">{{ role.idroles }}</a></td>
                <td>{{ role.nombre }}</td>
                <td>{{ role.idesta }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('roles_show', { 'id': role.idroles }) }}">
                             <input type="submit" value="Mostrar"></a>
                        </li>
                        <li>
                            <a href="{{ path('roles_edit', { 'id': role.idroles }) }}">
                             <input type="submit" value="Editar"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('roles_new') }}">
             <input type="submit" value="Agregar"></a>
        </li>
    </ul>
{% endblock %}
