{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-info"> Roles</h1>
      <ul class="nav nav-pills">
      <li class="active"> <a href="{{ path('roles_new') }}" href="#" class="btn btn-primary btn-xs">Nuevo</a></li>
    </ul>
        
  <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Rol</th>
                
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
             <tr class= "info">
                <td><a href="{{ path('roles_show', { 'id': role.idroles }) }}"></a></td>
                <td>{{ role.nombre }}</td>
                <td>{{ role.idesta.descComp}}</td>
                <td>
                    <ul>
                         <label class="checkbox-inline">
                            <a href="{{ path('roles_show', { 'id': role.idroles }) }}">
                       <label><button type="button" class="btn btn-primary btn-xs">Ver</button></a></label>
                         <label class="checkbox-inline">
                            <a href="{{ path('roles_edit', { 'id': role.idroles }) }}">
                            <label><button type="button" class="btn btn-primary btn-xs">Editar</button></a></label>
                        
                         <label class="checkbox-inline">
				 <a href="{{ path('roles_delete', { 'id': role.idroles }) }}" onclick="return confirm('¿Desea eliminar este elemento?')">
				 <label><button type="button" class="btn btn-primary btn-xs">Eliminar</button></a></label>
       
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
