{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuevo Rol</h1>


    {{ form_start(form) }}
        {{ form_widget(form) }} 
        <ul></ul> <a href="{{ path('roles_index') }}">
           <input href="#" type="submit" class="btn btn-primary btn-sx" value="Agregar"<a/>
          <ul class="nav nav-pills">
         <a href="{{ path('roles_index') }}">
         <button type="button" class="btn btn-primary btn-sx">Cancelar</button>
      </ul>
    {{ form_end(form) }}
  
    
{% endblock %}
