{% extends 'base.html.twig' %}

{% block body %}
    <h1>Roles</h1>

    <table = "table table-bordered">
        <tbody>
            <tr>
                <th>Roles</th>
                <td>{{ role.idroles }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ role.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('roles_index') }}">Regresar</a>
        </li>
        <li>
            <a href="{{ path('roles_edit', { 'id': role.idroles }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
