{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Roles</h1>

    <table>
        <tbody>
            <tr>
                <th>Idroles</th>
                <td>{{ role.idroles }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ role.nombre }}</td>
            </tr>
            <tr>
                <th>Estatus</th>
                <td>{{ role.idesta }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('roles_index') }}">
            <input type="submit" value="Regresar"></a>
        </li>
        <li>
            <a href="{{ path('roles_edit', { 'id': role.idroles }) }}">
            <input type="submit" value="Editar"></a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
