{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estatus</h1>

    <table>
        <tbody>
            <tr>
                <th>Idestatus</th>
                <td>{{ estatus.idestatus }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ estatus.tipo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estatus_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('estatus_edit', { 'id': estatus.idestatus }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
