{% extends 'base.html.twig' %}

{% block body %}
    <h1>Configuracion list</h1>

    <table>
        <thead>
            <tr>
                <th>Idconfiguracion</th>
                <th>Tarifa</th>
                <th>Idesta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for configuracion in configuracions %}
            <tr>
                <td><a href="{{ path('configuracion_show', { 'id': configuracion.idconfiguracion }) }}">{{ configuracion.idconfiguracion }}</a></td>
                <td>{{ configuracion.tarifa }}</td>
                <td>{{ configuracion.idesta }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('configuracion_show', { 'id': configuracion.idconfiguracion }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('configuracion_edit', { 'id': configuracion.idconfiguracion }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configuracion_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
