{% extends 'base.html.twig' %}

{% block body %}
    <h1>Configuracion list</h1>

    <table>
        <thead>
            <tr>
                <th>Tarifa Base</th>
                <th>Estatus</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for configuracion in configuracions %}
            <tr>
                <td><a href="{{ path('configuracion_show', { 'id': configuracion.idconfiguracion }) }}">{{ configuracion.idconfiguracion }}</a></td>
                <td>{{ configuracion.tarifa }}</td>
                <td>{{ configuracion.idesta }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('configuracion_show', { 'id': configuracion.idconfiguracion }) }}">
                             <input type="submit" value="Mostrar"></a>
                        </li>
                        <li>
                            <a href="{{ path('configuracion_edit', { 'id': configuracion.idconfiguracion }) }}">
                             <input type="submit" value="Editarr"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configuracion_new') }}">
             <input type="submit" value="Agregar"></a>
        </li>
    </ul>
{% endblock %}
