{% extends 'base.html.twig' %}

{% block body %}
    <h1>Configuraciones</h1>

    <table>
        <tbody>
            <tr>
                <th>Idconfiguracion</th>
                <td>{{ configuracion.idconfiguracion }}</td>
            </tr>
            <tr>
                <th>Tarifa Base</th>
                <td>{{ configuracion.tarifa }}</td>
            </tr>
            <tr>
                <th>Estatus</th>
                <td>{{ configuracion.idesta }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configuracion_index') }}">
             <input type="submit" value="Regresar"></a>
        </li>
        <li>
            <a href="{{ path('configuracion_edit', { 'id': configuracion.idconfiguracion }) }}">
             <input type="submit" value="Editar"></a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
