{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Descuentos</h1>

    <table>
        <thead>
            <tr>
            
                <th>Tipo de Descuento</th>
                <th>Estatus</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for descuento in descuentos %}
            <tr>
                <td><a href="{{ path('descuento_show', { 'id': descuento.iddescuento }) }}">{{ descuento.iddescuento }}</a></td>
                <td>{{ descuento.tipo }}</td>
                <td>{{ descuento.idesta }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('descuento_show', { 'id': descuento.iddescuento }) }}">
                             <input type="submit" value="Mostrar"></a>
                        </li>
                        <li>
                            <a href="{{ path('descuento_edit', { 'id': descuento.iddescuento }) }}">
                             <input type="submit" value="Editar"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('descuento_new') }}">
             <input type="submit" value="Agregar"></a>
        </li>
    </ul>
{% endblock %}
