{% extends 'base.html.twig' %}

{% block body %}
    <h1>Descuento</h1>

    <table>
        <tbody>
            <tr>
                <th>Iddescuento</th>
                <td>{{ descuento.iddescuento }}</td>
            </tr>
            <tr>
                <th>Tipo de Descuento</th>
                <td>{{ descuento.tipo }}</td>
            </tr>
            <tr>
                <th>Estatus</th>
                <td>{{ descuento.idesta }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('descuento_index') }}">
             <input type="submit" value="Regresar"></a>
        </li>
        <li>
            <a href="{{ path('descuento_edit', { 'id': descuento.iddescuento }) }}">
             <input type="submit" value="Editar"></a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
