{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recargos y Descuentos</h1>

    <table>
        <tbody>
            <tr>
                <th>Recargos y Descuentos</th>
                <td>{{ recaDesc.idrecaDesc }}</td>
            </tr>
            <tr>
                <th>Porcentaje</th>
                <td>{{ recaDesc.porce }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recadesc_index') }}">Regresar</a>
        </li>
        <li>
            <a href="{{ path('recadesc_edit', { 'id': recaDesc.idrecaDesc }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
