{% extends 'base.html.twig' %}

{% block body %}
    <h1>Horario list</h1>

    <table>
        <thead>
            <tr>
                <th>Idhorario</th>
                <th>Dia</th>
                <th>Hora</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horario in horarios %}
            <tr>
                <td><a href="{{ path('horario_show', { 'id': horario.idhorario }) }}">{{ horario.idhorario }}</a></td>
                <td>{% if horario.dia %}{{ horario.dia|date('Y-m-d') }}{% endif %}</td>
                <td>{% if horario.hora %}{{ horario.hora|date('H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('horario_show', { 'id': horario.idhorario }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('horario_edit', { 'id': horario.idhorario }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('horario_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
