{% extends 'base.html.twig' %}

{% block body %}
    <h1>Horario</h1>

    <table>
        <tbody>
            <tr>
                <th>Idhorario</th>
                <td>{{ horario.idhorario }}</td>
            </tr>
            <tr>
                <th>Dia</th>
                <td>{% if horario.dia %}{{ horario.dia|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{% if horario.hora %}{{ horario.hora|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('horario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('horario_edit', { 'id': horario.idhorario }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
