{% extends 'base.html.twig' %}

{% block body %}
   <h1 class="text-info"> USUARIO</h1>
      <ul class="nav nav-pills">
    <table = "table table-bordered">
        <thead>
            <tr>
                <th>NOMBRE</th>
                  <th>ROL</th>
                  <th>ESTATUS</th>
                <th>ACCION</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': usuario.idusuario }) }}">{{ usuario.idusuario }}</a></td>
                <td>{{ usuario.usuario }}</td>
                <td>{{ usuario.idroles.nombre }}</td>
                <td>{{ usuario.idesta.descComp}}</td> 
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usuario_show', { 'id': usuario.idusuario }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('usuario_edit', { 'id': usuario.idusuario }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_new') }}">Nuevo</a>
        </li>
    </ul>
{% endblock %}
