{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Catalogos</h1>

    <table>
        <thead>
            <tr>
                <th>Idcata</th>
                <th>Desccort</th>
                <th>Descomp</th>
                <th>Idesta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catum in catas %}
            <tr>
                <td><a href="{{ path('cata_show', { 'id': catum.idcata }) }}">{{ catum.idcata }}</a></td>
                <td>{{ catum.descCort }}</td>
                <td>{{ catum.desComp }}</td>
                <td>{{ catum.idesta }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cata_show', { 'id': catum.idcata }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('cata_edit', { 'id': catum.idcata }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cata_new') }}">Aceptar</a>
        </li>
    </ul>
{% endblock %}
