{% extends 'base.html.twig' %}

{% block body %}

  <h1 class="text-info"> CATA</h1>
      <ul class="nav nav-pills">
      
      <table = "table table-bordered">
        <thead>
            <tr>
                <th>Descripcion corta</th>
                <th>Descripcion completa</th>
                <th>Estatus</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for catum in catas %}
            <tr>
                <td><a href="{{ path('cata_show', { 'id': catum.idcata }) }}">{{ catum.idcata }}</a></td>
                <td>{{ catum.descCort }}</td>
                <td>{{ catum.descComp }}</td>
             
                    
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cata_show', { 'id': catum.idcata }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('cata_edit', { 'id': catum.idcata }) }}">Editar</a>
                        </li>
                        <li>
                            <a href="{{ path('cata_edit', { 'id': catum.idcata }) }}">Elimnar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cata_new') }}">Nuevo</a>
        </li>
    </ul>
{% endblock %}
