{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Catalogos</h1>
    
        <ul class="nav nav-pills">
        <li class="active"> <a href="{{ path('cata_new') }}" href="#" class="btn btn-primary btn-xs">Agregar</a></li>
        </li>
    </ul>

    <table class = "table">
        <thead>
            <tr>
                <th>Descripcion Corta</th>
                <th>Descripcion Completa</th>
                <th>Estatus</th>
                
            </tr>
        </thead>
        <tbody>
        {% for catum in catas %}
            <tr>
                <td>{{ catum.descCort }}</td>
                <td>{{ catum.desComp }}</td>
                <td>{{ catum.idesta }}</td>
                <td>
                    <ul>
                         <li><ul class="nav nav-pills">
                            <a href="{{ path('cata_show', { 'id': catum.idcata }) }}">
                            <button type="button" class="btn btn-primary btn-xs">Ver</button></a>
                        </li>
                        <li><ul class="nav nav-pills">
                            <a href="{{ path('cata_edit', { 'id': catum.idcata }) }}">
                            <button type="button" class="btn btn-primary btn-xs">Editar</button></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
