{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cata list</h1>

    <table>
        <thead>
            <tr>
                <th>Idcata</th>
                <th>Desccort</th>
                <th>Desccomp</th>
                <th>Idesta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catum in catas %}
            <tr>
                <td><a href="{{ path('cata_show', { 'id': catum.idcata }) }}">{{ catum.idcata }}</a></td>
                <td>{{ catum.descCort }}</td>
                <td>{{ catum.descComp }}</td>
                <td>{{ catum.idesta }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cata_show', { 'id': catum.idcata }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cata_edit', { 'id': catum.idcata }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cata_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
