{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-info"> Cata</h1>
      <ul class="nav nav-pills">
      <li class="active"> <a href="{{ path('cata_new') }}" href="#" class="btn btn-primary btn-xs">Nuevo</a></li>
    </ul>
        
  <table class="table table-striped">
        <thead>
            <tr>
            <th></th>
                <th>Descripci&#243n corta</th>
                <th>Descripci&#243n completa</th>
                <th>Estatus</th>
                
            </tr>
        </thead>
        <tbody>
        {% for catum in catas %}
              <tr class= "info">
                <td><a href="{{ path('cata_show', { 'id': catum.idcata }) }}"></a></td>
                <td>{{ catum.descCort }}</td>
                <td>{{ catum.descComp }}</td>
               <td>{{ catum.idesta.descComp }}</td>
                    
                <td>
                    <ul>
                        <label class="checkbox-inline">
                            <a href="{{ path('cata_show', { 'id': catum.idcata }) }}">
                               <label><button type="button" class="btn btn-primary btn-xs">Ver</button></a></label>
                       
                         <label class="checkbox-inline">
                            <a href="{{ path('cata_edit', { 'id': catum.idcata }) }}">
                              <label></label> <button type="button" class="btn btn-primary btn-xs">Editar</button></a></label>
                         
                         <label class="checkbox-inline">
				           <a href="{{ path('cata_delete', { 'id': catum.idcata }) }}" onclick="return confirm('&#243;Desea eliminar este elemento?')"
                               <label></label> <button type="button" class="btn btn-primary btn-xs">Eliminar</button></a></label>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
