{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuevo Catalogo</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
      <a href="{{ path('cata_index') }}">
            <input type="submit" value="Agregar" />
    {{ form_end(form) }}

    <ul>
    <li>
           
        </li>
        <li>
            <a href="{{ path('cata_index') }}">Regresar</a>
        </li>
    </ul>
{% endblock %}
