{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuevo Catalogo</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
       <ul></ul> <a href="{{ path('cata_index') }}">
            <input href="#" type="submit" class="btn btn-primary btn-sx" value="Agregar"<a/>
            <ul class="nav nav-pills">
            <a href="{{ path('cata_index') }}">
            <button type="button" class="btn btn-primary btn-sx">Cancelar</button>
    </ul>
    {{ form_end(form) }}
{% endblock %}
