{% extends 'base.html.twig' %}

{% block body %}
    <h1>Catalogo</h1>

    <table>
        <tbody>
            <tr>
                <th>Catalogo</th>
                <td>{{ catum.idcata }}</td>
            </tr>
            <tr>
                <th>Descripcion Corta</th>
                <td>{{ catum.descCort }}</td>
            </tr>
            <tr>
                <th>Descripcion Completa</th>
                <td>{{ catum.descComp }}</td>
            </tr>
            <tr>
                <th>Estatus</th>
                <td>{{ catum.idesta }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cata_index') }}">Aceptar</a>
        </li>
        
    </ul>
{% endblock %}
