{% extends 'base.html.twig' %}

{% block body %}
    <h1>Catalogos</h1>

    <table>
        <tbody>
            <tr>
                <th>Idcata</th>
                <td>{{ catum.idcata }}</td>
            </tr>
            <tr>
                <th>Descripcion corta</th>
                <td>{{ catum.descCort }}</td>
            </tr>
            <tr>
                <th>Descripcion completa</th>
                <td>{{ catum.desComp }}</td>
            </tr>
            <tr>
                <th>Estatus</th>
                <td>{{ catum.idesta }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cata_index') }}">Regresar</a>
        </li>
        <li>
            <a href="{{ path('cata_edit', { 'id': catum.idcata }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
