{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cata</h1>

    <table>
        <tbody>
            <tr>
                <th>Idcata</th>
                <td>{{ catum.idcata }}</td>
            </tr>
            <tr>
                <th>Desccort</th>
                <td>{{ catum.descCort }}</td>
            </tr>
            <tr>
                <th>Desccomp</th>
                <td>{{ catum.descComp }}</td>
            </tr>
            <tr>
                <th>Idesta</th>
                <td>{{ catum.idesta.descComp }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cata_index') }}">Aceptar</a>
        </li>
        
    </ul>
{% endblock %}
